* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F2E9E4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

header h1 {
    color: #22223B;
    font-family: "Playfair Display SC", Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.5px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .material-symbols-outlined {
    color: #22223B;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 7px;
    border: 0.5px solid #4A4E69;
    background: rgba(201, 173, 167, 0.65);
    margin: 0 1.5rem; 
    padding: 0.5rem 1rem;
}

.search-bar p {
    margin: 0;
    color: #4A4E69;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
}

.search-bar .material-symbols-outlined {
    color: #4A4E69;
}

.filters {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 1.5rem;
    flex-wrap: wrap;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: #4A4E69;
    color: #F2E9E4;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.18px;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;  
}

.filter-btn span {
    font-size: 16px;
}

.filter-btn:hover {
    opacity: 0.85;
}

.discovery-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.discovery-feed {
    margin: 1.5rem;
    color: #22223B;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discovery-card {
    margin: 1rem 1.5rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 7px;
    border: 0.5px solid #C9ADA7;
    background-color: rgba(201, 173, 167, 0.35);
    box-shadow: -2px -2px 15px 0px rgba(201, 173, 167, 0.60), 2px 2px 15px 0px rgba(201, 173, 167, 0.60);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C9ADA7;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.card-body {
    padding-bottom: 1rem;
    border-bottom: 1px solid #C9ADA7;
}

.user-text p {
    margin: 0;
    color: #22223B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-text p strong {
    font-weight: 600;
}

.user-text .location {
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.user-text .location .material-symbols-outlined {
    font-size: 12px;
}

.rating {
    /* circle */
    background: #F2E9E4;
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid #C9ADA7;
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* contents inside the circle */
    color: #03563C;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-body img {
    width: 48%;
    border-radius: 10px;
    object-fit: cover;
}

.card-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 12px;
    color: #22223B;
    margin-bottom: 0.75rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.tag {
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #4A4E69;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
}

.footer-icons {
    display: flex;
    gap: 1rem;
    color: #C9ADA7;
}

.bookmark-icon {
    color: #C9ADA7;
}

.timestamp {
    font-size: 10px;
    color: #6E6A7C;
    margin-top: 0.5rem;
}
.dark-blue-btn {
    background-color: #22223B;;
}

.dark-pink-btn {
    background-color: #C9ADA7;
}

.splash-container {
    height: 100vh;
    background-color: #F2E9E4;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.splash-bg-rect {
    width: 80%;
    max-width: 3500px;
    height: 400px;
    background-color: rgba(201, 173, 167, 0.56);
    opacity: 56%;
    border-radius: 15px;
    grid-area: 1 / 1;
    z-index: 0;
}

.splash-bg-rect-1 {
    width: 190px;
    height: 110px;
    background-color: rgba(201, 173, 167, 0.63);
    border-radius: 10px;
    grid-area: 1 / 1;
    z-index: 1;
    justify-self: start;
    align-self: start;
    transform: translate(20px, 100px);
}

.splash-bg-rect-2 {
    width: 170px;
    height: 190px;
    background-color: rgba(201, 173, 167, 0.78);
    border-radius: 10px;
    grid-area: 1 / 1;
    z-index: 1;
    justify-self: end;
    align-self: end;
    transform: translate(-60px, -35px);
}

.splash-content {
    text-align: center;
    grid-area: 1 / 1;
    z-index: 1;
}

.splash-subtext {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #4A4E69;
    margin-bottom: 0rem;
}

.splash-title {
    font-family: "Playfair Display SC", Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #22223B;
    font-weight: 900;
    margin-bottom: 1rem;
}

.splash-signup-btn {
    background-color: #4A4E69;
    color: #F2E9E4;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 5rem;
    font-size: 14px;
}

.splash-login {
    font-size: 10px;
    color: #6E6A7C;
    margin-top: 0.5rem;
}

.splash-login a {
    color: #6E6A7C;
    text-decoration: underline;
}